html {
  background: url(https://i.imgur.com/fH70RpA.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* latin-ext */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lekton/v12/SZc43FDmLaWmWpBuVh3pv0Db6AtO.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lekton/v12/SZc43FDmLaWmWpBuWB3pv0Db6A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

img {
  max-width: 75%;
  margin: 0 auto;
}

figure {
  margin: 0;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.text1 {
  font-family: 'Lekton';
  font-weight: bold;
  font-size: 1.2em;
  color: seashell;
  opacity: 1;
  position: fixed;
  top: 1.5vh;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  animation: move1 17s ease infinite;
  transition: 1s ease-out;
}

.c1 {
  border-radius: 50%;
  background-color: saddlebrown;
  opacity: 0.4;
  width: 40vw;
  height: 25vh;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  align-items: center;
  animation: move1 17s ease infinite;
  filter: blur(0px);
  transition: 1s ease-out;
}

.c1:hover {
  filter: blur(20px);
  transition: 1s ease-out;
}

@keyframes move1 {
  0%, 100% {
    transform: translate(-50%, 0%)
  }

  50% {
    transform: translate(-50%, 75vh)
  }
}

.text2 {
  font-family: 'Lekton';
  font-weight: bold;
  font-size: 1.2em;
  color: seashell;
  opacity: 1;
  position: fixed;
  top: 1.5vh;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  animation: move2 18s ease infinite;
  transition: 1s ease-out;
}

.c2 {
  border-radius: 50%;
  background-color: saddlebrown;
  opacity: 0.4;
  width: 60vw;
  height: 50vh;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  align-items: center;
  animation: move2 18s ease infinite;
  filter: blur(0px);
  transition: 1s ease-out;
}

.c2:hover {
  filter: blur(20px);
  transition: 1s ease-out;
}

@keyframes move2 {
  0%, 100% {
    transform: translate(-50%, 0%)
  }

  50% {
    transform: translate(-50%, 50vh)
  }
}

.text3 {
  font-family: 'Lekton';
  font-weight: bold;
  font-size: 1.2em;
  color: seashell;
  opacity: 1;
  position: fixed;
  top: 1.5vh;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  animation: move3 19s ease infinite;
  transition: 1s ease-out;
}

.c3 {
  border-radius: 50%;
  background-color: saddlebrown;
  opacity: 0.4;
  width: 80vw;
  height: 75vh;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  align-items: center;
  animation: move3 19s ease infinite;
  filter: blur(0px);
  transition: 1s ease-out;
}

.c3:hover {
  filter: blur(20px);
  transition: 1s ease-out;
}

@keyframes move3 {
  0%, 100% {
    transform: translate(-50%, 0%)
  }

  50% {
    transform: translate(-50%, 25vh)
  }
}

.text4 {
  font-family: 'Lekton';
  font-weight: bold;
  font-size: 1.2em;
  color: seashell;
  opacity: 1;
  position: fixed;
  top: 1.5vh;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  animation: move4 20s ease infinite;
  transition: 1s ease-out;
}

.c4 {
  border-radius: 50%;
  background-color: saddlebrown;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  justify-content: center;
  align-items: center;
  animation: move4 20s ease infinite;
  filter: blur(0px);
  transition: 1s ease-out;
}

.c4:hover {
  filter: blur(20px);
  transition: 1s ease-out;
}

@keyframes move4 {
  0%, 100% {
    transform: translate(-50%, 0%)
  }

  50% {
    transform: translate(-50%, 0%)
  }
}

.button {
  position: fixed;
  outline: none;
  width: 125px;
  bottom: 0;
  left: 0;
  z-index: 25;
}

.overlay {
  outline: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(255, 245, 238);
  background-color: rgba(255, 245, 238, 0.9);
  overflow-x: hidden;
  transition: 0.1s;
}

.overlay-content {
  outline: none;
  position: relative;
  width: 100%;
  max-width: 500px;
  font-family: 'Lekton';
  color: saddlebrown;
  opacity: 1;
  font-size: 0.9em;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.overlay a {
  outline: none;
  text-decoration: none;
  font-family: 'Lekton';
  color: saddlebrown;
  opacity: 1;
  font-size: 1em;
}

.overlay a:hover, .overlay a:focus {
  outline: none;
  color: pink;
}

.overlay .closebtn {
  outline: none;
  position: fixed;
  width: 125px;
  bottom: 0;
  left: 0;
  z-index: 15;
}

.hide {
  display: none;
}

@media screen and (max-height: 450px) {
  .overlay a {
    outline: none;
    font-size: 20px
  }

  .overlay .closebtn {
    outline: none;
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
